---
title: NHS Development Toolkit
---

<h1><%= current_page.data.title %></h1>

<p class="lead"><%= lorem.sentences 1 %></p>
<p><%= lorem.paragraph %></p>
<p><%= lorem.paragraph %></p>
<p><%= lorem.paragraph %></p>

<% content_for :sidebar_right do %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Sections</h3>
  </div>
  
<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
</div>
<% end %>